<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.VisaAPI.mapper.UpdateUserMapper">

	<select id="selectuserbyId"
		resultType="com.example.VisaAPI.model.UpdateUserModel">
		SELECT
    	split_part(name, ' ', 1) AS first_name, split_part(name, ' ', 2) AS last_name,
   		name,birthday,sex,country,address,visa_date,visa_type,visa_id

  		FROM visa_user_api 
  		WHERE username = #{username} AND status = 'ACTIVE'
	</select>
	<update id="updateuser"
		parameterType="com.example.VisaAPI.model.UpdateUserModel">
		UPDATE visa_user_api 
		SET
		name=#{name},visa_id=#{visa_id},birthday=#{dateofbirth} ,sex=#{sex},country=#{country},address=#{address},visa_date=#{visakigen},visa_type=#{visa_type},note=#{note}
		WHERE username = #{username} AND  status='ACTIVE';
	</update>

</mapper>